<!doctype html>
<html>
<head>
  <title>Bridge Labeling Toolbox Error</title>

  <link href="/css/login.css" rel="stylesheet">
  <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
  <script src="/js/lib/wavesurfer.min.js"></script>
  <script src="/js/lib/wavesurfer.timeline.min.js"></script>
  <script src="/js/lib/wavesurfer.regions.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/jquery-ui/ui/core.js"></script>
  <script src="../bower_components/jquery-ui/ui/widget.js"></script>
  <script src="../bower_components/jquery-ui/ui/accordion.js"></script>
  <script src="../bower_components/jquery-ui/ui/tabs.js"></script>
  <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>

  <script src="../bower_components/FileSaver/FileSaver.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.canvasjs.min.js"></script>

</head>
<body>
<div id="border">
<div class="buttonHolder">



  <h1 class="titles">Error</h1>

   <% if (message.length > 0) { %>
    <div class="alert"><%= message %></div>
  <% } %>


</div>
</div>
</body>
</html>