<!DOCTYPE html>
<html ng-app="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/lib/wavesurfer.min.js"></script>
    <script src="/js/lib/wavesurfer.timel./]ine.min.js"></script>
    <script src="/js/lib/wavesurfer.regions.min.js"></script>

    <!-- <script src="http://system.wise.audio/socket.io/socket.io.js"></script> -->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/jquery-ui/ui/core.js"></script>
    <script src="../bower_components/jquery-ui/ui/widget.js"></script>
    <script src="../bower_components/jquery-ui/ui/accordion.js"></script>
    <script src="../bower_components/jquery-ui/ui/tabs.js"></script>
    <script src="../bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="../bower_components/FileSaver/FileSaver.min.js"></script>
    <script type='text/javascript' src='/js/script.js'></script>
    <script type="text/javascript" src="/css/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
  </head>


  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="invisible" id="User" class="navbar-brand"><%= user %></p>


        </div>
        <!-- Navigation and controls -->

        <div id="navbar" class="navbar-collapse collapse">
          <div class="nav navbar-nav">

            <span class="btn btn-primary btn-file">
            <i class="fa fa-upload fa-fw "></i> Upload File<input id='fileupload' type='file' data-url="/upload" accept="audio/*"/> 
            </span>
            <button id="removefile" type="button" class="btn btn-primary"><i class="fa fa-trash-o fa-fw"></i> Delete File</button>
            <button id="requestlabel" type="button" class="btn btn-primary"> <i class="fa fa-bar-chart fa-fw"></i> Request Analysis </a></button>
            <button id="addtraining" type="button" class="btn btn-primary"><i class="fa fa-paper-plane-o fa-fw"></i> Add to training</button>
            <button id="inspectmodel" type="button" class="btn btn-primary"><i class="fa fa-eye fa-fw"></i>Inspect model </button>
            <button id="createmodel" type="button" class="btn btn-primary"> <i class="fa fa-refresh fa-fw"></i> Update model </button>
            </ul>

          <ul class="nav navbar-nav">
            <button id="play" type="button" class="btn btn-primary" ><i class="fa fa-play fa-fw"></i></button>
            <button id="stop" type="button" class="btn btn-primary" ><i class="fa fa-stop fa-fw"></i></button> 
            <button id="loop" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i></button>
            <button id="remove" type="button" class="btn btn-primary"><i class="fa fa-remove fa-fw"></i> Remove</button>
            <button id="savelocal" type="button" class="btn btn-primary"><i class="fa fa-floppy-o fa-fw"></i> Save</button>

          </ul>

          <ul id="logout" class="nav navbar-nav navbar-right">
            <li><a href="#">Tutorial</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
            

        </div><!--/.nav-collapse -->

      </div>
    </nav>


<!--
    <div id="mySidenav" class="sidenav col-md-2">
      <p>
      </p>

      <div class="text-center page-header">
       <h3><strong> console </strong></h3>
       </div>

      <div id="console" class="text-center">
              
      </div>

      <p>
      </p>

      <div class="text-center page-header">
       <h3> <strong> models </strong> </h3>
      </div>

      <div class="row">
        <div class="text-center col-md-8"">
         <p class="fa fa-list fa-fw"></p> <select id="modellist">
            
         </select>
        </div>
         <div class="col-md-4">
            <i id="addmodel" class=""><i class="fa fa-plus-circle fa-lg"></i> </i>
            <i id="removemodel" class=""><i class="fa fa-minus-circle fa-lg"></i> </i>
        </div>
      </div>
      
      <div class="row" style="padding-top:50px">
        <a id="inspectmodel">  <p class="fa fa-eye fa-fw"></p>Inspect model </a>
      </div>
      <div class="row" style="padding-top:10px">
        <a id="addtraining"> <p class="fa fa-plus-square-o fa-fw"></p>Add to training </a>
      </div>
       <div class="row" style="padding-top:10px">
        <a id="createmodel"> <p class="fa fa-refresh fa-fw"></p> Update model </a>
      </div>
       <div class="row" style="padding-top:10px">
        <a id="requestlabel"> <p class="fa fa-bar-chart fa-fw"></p> Request Analysis </a>
      </div>
      <div class="row" style="padding-top:10px">
        <a id="removefrommodel"> <p class="fa fa-trash-o fa-fw"></p> Remove file(s) </a>
      </div>
    </div>

    -->


<!--main window -->
    <div id="mainwin" class="container theme-showcase mainwindow col-md-10b" role="main">
      <div class="page-header text-center" style="padding-top:5%">
      <!--
        <h1><strong>WISE:</strong> Web-based Interactive Speech Emotion Classification System</h1>
      </div>
      -->


        
    <!--Test out the columns here -->
        <p>
          <div id="wave" class="center-wave"></div>
          <div id="wave-timeline"></div>
        </p>

        <p>
          <div class="center-element"> <input id="slider" type="range" min="20" max="70" value="1" />  </div>
        </p>


<!--
        <p>
          <div class="span4 offset4 text-center">
            <div class="btn-group">
               <button id="play" type="button" class="btn btn-danger" ><i class="fa fa-play fa-fw"></i> Play</button>
               <button id="stop" type="button" class="btn btn-danger" ><i class="fa fa-stop fa-fw"></i> Stop</button>        
               <button id="loop" type="button" class="btn btn-danger"><i class="fa fa-refresh fa-fw"></i> Loop</button>
               <button id="remove" type="button" class="btn btn-danger"><i class="fa fa-remove fa-fw"></i> Remove</button>
               <button id="savelocal" type="button" class="btn btn-danger"><i class="fa fa-floppy-o fa-fw"></i> Save</button>
            </div>
          </div>
        </p>
 Upload and Delete 
        <div class="row">
           <div class="">
              <p>
                <div class="span4 offset4 text-center">  
                  <i class="fa fa-list fa-fw"></i> <select id="filelist" form="fileform"></select>
                </div>  
              </p>

              <p>
                <div class="span4 offset4 text-center">  
                   <span class="btn btn-danger btn-file">
                     <i class="fa fa-upload fa-fw"></i> Upload file<input id='fileupload' type='file' data-url="/upload" accept="audio/*"/> 
                   </span>
                   <button id="removefile" type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-fw"></i> Delete File</button>
                </div>
              </p>
            </div>
        </div> 
        -->

        <p>
          
          <div class="row">
            <div id="suggest" class="text-center">
              
                <h5 id="recomsec">Suggested labels: </h5>
            
              
              <button id="acceptsuggest" type="button" class="btn btn-success"><i class="fa fa-paper-plane-o fa-fw"></i> Accept suggestion and add to training</button>
              <button id="discardsuggest" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o fa-fw"></i> Discard suggestion</button>
              </div>
            
          </div>
        
        </p>
       
<!-- Sound Waves are interfered when segments changed -->
      <div class="row">
        <div class="col-md-6">

                <div class="page-header">
                  <h3><strong>Segments</strong></h3>
                </div>
                <table id="SegTable" class="table table-responsive">
                </table>

        </div>


        <div class="col-md-6">
            
            <table class="table">
            <thead>
                <tr >
                  <th class = "text-center">Emotions</th>
                  <th class = "text-center">Arousal</th>
                  <th class = "text-center">Valance</th>
                </tr>
            </thead>
            
            <tbody>
            <tr>
              <th>
              
                <table id="table2" class="table">
                  <tr>
                    <th><a id="Anger" class="btn btn-anger btn-block"><i class="fa fa-fire fa-fw "></i>Anger</a></th>
                  </tr>
                  <tr>
                    <th><a id="Disgust" class="btn btn-disgust btn-block"><i class="fa fa-bug fa-fw"></i>Disgust</a></th> 
                  </tr>
                  <tr>
                    <th><a id="Fear" class="btn btn-fear btn-block"><i class="fa fa-heartbeat fa-fw"></i>Fear</a></th>
                  </tr>
                  <tr>
                    <th><a id="Happy" class="btn btn-happy btn-block"><i class="fa fa-sun-o fa-fw"></i>Happy</a></th>
                  <tr>
                    <th><a id="Neutral" class="btn btn-neutral btn-block"><i class="fa fa-leaf fa-fw"></i>Neutral</a></th> 
                  </tr> 
                  <tr> 
                    <th><a id="Sad" class="btn btn-sad btn-block"><i class="fa fa-cloud fa-fw"></i>Sad</a></th>
                  </tr>
                </table>
              
              </th>
              <th>
             
                <table id="table3" class="table">
                  <tr>
                    <th  class = "text-center"><a id="Active" class="btn btn-danger btn-block"><i class="fa fa-bolt fa-fw"></i>Active</a></th>
                  </tr>
                  <tr>
                    <th  class = "text-center"><a id="NeutralAPN" class="btn btn-danger btn-block"><i class="fa fa-balance-scale fa-fw"></i>Neutral</a></th>
                  </tr>
                  <tr>
                    <th  class = "text-center"><a id="Passive" class="btn btn-danger btn-block"><i class="fa fa-moon-o fa-fw"></i>Passive</a></th> 
                  </tr>
                </table>
              
              </th>
              <th>
             
                <table id="table4" class="table">
                  <tr>
                    <th  class = "text-center"><a id="Positive" class="btn btn-danger btn-block"><i class="fa fa-smile-o fa-fw"></i>Positive</a></th>
                  </tr> 
                  <tr> 
                    <th  class = "text-center"><a id="NeutralPNN" class="btn btn-danger btn-block"><i class="fa fa-meh-o fa-fw"></i>Neutral</a></th>
                  </tr>
                  <tr>
                    <th  class = "text-center"><a id="Negative" class="btn btn-danger btn-block"><i class="fa fa-frown-o fa-fw"></i>Negative</a></th> 
                  </tr> 
                </table>
              
              </th>
              </tr>
            </tbody>
          </table>
         
        </div > 
      </div >
        
    </div>

    <div id="modelwin" class="container theme-showcase mainwindow col-md-10" role="main">
      <div class="page-header text-center" style="padding-top:5%">
           <h1><strong>WISE:</strong> Web-based Interactive Speech Emotion Classification System</h1>



      </div>

      <div id="modellisttable" class="text-center modeltable" >

      </div>
    </div>



    
     

      <!-- <button id="addtraining" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o fa-fw"></i> Add to training</button>
                 <button id="createmodel" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o fa-fw"></i> Update model</button> -->
                <!--  <button id="requestlabel" type="button" class="btn btn-danger"><i class="fa fa-paper-plane-o fa-fw"></i> Request Analysis</button> -->

    <div class="clearingdiv">
    </div>
  <!-- logos        
    <div class="logos">
      <img id="air-logo" src="../assets/Air - RGB.PNG" alt="Air Lab Logo">
      <img id="ur-logo" src="../assets/URLogo.png" alt="University of Rochester Logo">
      <img id="wcng-logo" src="../assets/wcng.png" alt="Wireless Communication Networking Logo">
    </div>

    -->

</body>


  <footer>


  <!--
  <small>
    <p class = "text-center">University of Rochester</p>
    <p class = "text-center"><i class="fa fa-copyright fa-fw"></i> Wireless Communication and Networking Group, 2016. Designed and created by Sefik Emre Eskimez</p>
    <p class = "text-center">Contact information: <a id="mail" href="mailto:eeskimez@ur.rochester.edu">
    eeskimez@ur.rochester.edu</a>.</p>
    </small>
    -->
  </footer>
</html>
