<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <title>WISE Authentication</title>
    <!--meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="The Bridge Project explores ways of detecting emotions from speech, without interpreting speech content, or using facial expressions or body gestures. This sort of emotion classification is likely to have a broader appeal, as it is less intrusive than interpreting speech content or capturing images">
    <meta name="keywords" content="Bridge, Project, Emotion, Classification, System, University, Rochester">

    <!--Bootstrap-->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <!--Customized CSS -->
    <link href="/css/login.css" rel="stylesheet">
</head>
<body role="document">

  <!--Video Background-->
  <div class="fullscreen-bg">
    <video loop muted autoplay poster="..." class="fullscreen-bg-video">
      <!--<source src="assets/blueloop.mp4" type="video/mp4">
         Put other formats of video here -->
        <source src="assets/fiber.mp4" type="video/mp4">
      </video>
  </div><!--fullscreen-bg-->

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> WISE</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/signup">Register</a></li>
            <li><a href="http://www.ece.rochester.edu/projects/wcng/project_bridge.html" target="_blank">About</a></li>
            <li><a href="http://www.ece.rochester.edu/projects/wcng/contactus.html" target="_blank">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>

    <div class="container theme-showcase text-center" role="main" style="height:100%;padding-top:5%;padding-bottom:10%">

      <div class="page-header text-center" style="padding-top:5%">
        <h1 class="wise-title"><strong>WISE:</strong> Web-based Interactive Speech Emotion Classification System</h1>
      </div>
      
      <h2 class="text-center">Please Register</h2>
      <form class="form-signin center-element" action="/signup" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-menu btn-block" type="submit">Signup</button>
      </form>
      <% if (message.length > 0) { %>
          <div class="alert alert-danger text-center center-element"><%= message %></div>
        <% } %>
      <hr>

      <p>Already have an account?<a href="/login" class="btn btn-xs btn-menu">Login</a></p>


    <!--Logos-->
    <div class="logos">
      <!-- Add the WCNG Logo Here -->
      <img id="air-logo" src="assets/Air - RGB.PNG" alt="Air Lab Logo">
      <img id="ur-logo" src="assets/URLogo.png" alt="University of Rochester Logo">
      <img id="wcng-logo" src="assets/wcng.png" alt="Wireless Communication Networking Logo">


    </div>

    </div> <!-- /container -->

  <!--JavaScript files should be linked at the bottom of the document -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/jquery-ui/ui/core.js"></script>
  <script src="../bower_components/jquery-ui/ui/widget.js"></script>
  <script src="../bower_components/jquery-ui/ui/accordion.js"></script>
  <script src="../bower_components/jquery-ui/ui/tabs.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.canvasjs.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="/css/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</body>
<footer>
  <!--
  <small>
  <p class = "text-center">University of Rochester</p>
  <p class = "text-center"><i class="fa fa-copyright fa-fw"></i> Wireless Communication and Networking Group, 2016. Designed and created by Sefik Emre Eskimez</p>
  <p class = "text-center">Contact information: <a id="mail" href="mailto:eeskimez@ur.rochester.edu">
  eeskimez@ur.rochester.edu</a>.</p>
  </small>
-->
</footer>
</html>
