body {
	margin: 0;
    padding: 0;
    padding-top: 70px;
    height: 100% !important;
}

.container {
	color: white;
}

.wise-title{
	background-color: rgba(0,0,0,0.3);
}

.btn-menu{

        background: linear-gradient(rgba(125,126,125,.8),rgba(14,14,14,1)) !important;
		color: rgba(255, 255, 255, 1) !important;
        
}
.btn-menu:hover, .btn-menu:focus, .btn-menu.focus, .btn-menu:active, .btn-menu.active, .btn-menu:visited,.btn-menu:active:hover, .btn-menu.active:hover{
        background: linear-gradient(rgba(125,126,125,1),rgba(14,14,14,1)) !important;
    	color: rgba(255, 255, 255, 1) !important;
        
}

.brand
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}

.center-element {
	width:40%; 
   	margin-left:30%;   
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9){
	.fullscreen-bg-video{
		height: 300%;
		top: -100%;

	}
}

@media (max-aspect-ratio: 16/9){
	.fullscreen-bg-video{
		width: 300%;
		left: -100%;
	}
}

.logos{
    margin-right: auto;
    margin-left: left;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding: 20px;
}

#ur-logo {
    display: inline-block;
    width:128px; 
    height:128px; 
}

#air-logo{
    display: inline-block;;
    width: 45%;
    height: 45%;
}

#wcng-logo {
    display: inline-block;
    margin-left: 110px;
    width: 13%;
    height: 13%;
}

#signup-login {
    padding: 20px;
}
/**For mobile devices 
@media (max-width: 767px){
	.fullscreen-bg {
		background: url('../img/assets/zenbg-1.png') center center / cover no-repeat;
	}

	.fullscreen-bg-video{
		display: none;
	}
}
**/
