body {
background-color: #212121;
background-image: url("../assets/inflicted.png");

}


p.invisible {
    visibility:hidden;
}

/** Nav buttun **/
.navbar-left {

  margin-right: 300px;
}


.mainwindow {
	/*float: right;*/
    width: 100%;
    /*height: 1200px;*/
}

#mainwin {
	/*float: right;
    width: 100%;*/
	height: 1200px;
	/*display: none;*/
}

#modelwin {
	/*float: right;
    width: 100%;*/
	/*height: 1200px;*/
	display: none;
}
.modeltable {

}

.modeltable p {
    /*text-decoration: none;*/
    color: rgba(255, 255, 255, 0.7);
    display: block;
    transition: 0.3s
}

.modeltable p:hover, .offcanvas p:focus{
    color: rgba(255, 255, 255, 1);
}

/**
#recomsec{
	background-color: rgba(0, 0, 0, 0.7) !important;
	border-color:rgba(255, 255, 255, 0.7);
	border-style: dotted;
    border-width: 2px;
    display: inline;
    padding: 10px 10px 10px 10px;
}
**/
/* The side navigation menu */
.sidenav {
	/*float: left;*/
    /*height: 100%; */
    /*width: 250px;  */
    /*background-image:linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .1) 25%, rgba(255, 255, 255, .1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .1) 75%, rgba(255, 255, 255, .1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .1) 25%, rgba(255, 255, 255, .1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .1) 75%, rgba(255, 255, 255, .1) 76%, transparent 77%, transparent);*/

    height: 1200px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7) !important; /* Black*/
    background-image: none !important;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 60px 10px 10px 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav i {
    /*text-decoration: none;*/
    color: #818181;
    display: inline;
    transition: 0.3s
}

.sidenav i:hover, .offcanvas i:focus{
    color: #f1f1f1;
}

/* The navigation menu links */
.sidenav a {
	border-style: solid;
    border-width: medium;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
	text-decoration: none;
    color: #f1f1f1;
}

.clearingdiv {
    clear: both;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.center-element {
	width:40%; 
   	margin-left:30%;   
}
.center-wave {
	width:100%; 
   	margin-left:0%;   
}
.row_selected {
	background-color: rgba(255, 255, 0, 0.7);
	color:rgb(0, 0, 0) !important;
	font-weight: bold !important;
}


.btn-primary {
    background: #222;
    color: #ffffff;
    border: 0px solid transparent;

}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #222 !important;
    box-shadow: none !important;

}




/************************************ Emotion buttons ********************************/
.btn-anger{
		background-image:linear-gradient(rgba(180, 0, 0, 0.8), rgba(255, 0, 0, 0.8)) !important;
        /*background: rgba(180, 0, 0, 0.8) !important;*/
    	color: rgba(255, 255, 255, 1) !important;
      
}
.btn-anger:hover, .btn-anger:active, .btn-anger.active, .btn-anger:visited,.btn-anger:active:hover, .btn-anger.active:hover{
	 background-image:linear-gradient(rgba(255, 0, 0, 1), rgba(180, 0, 0, 1)) !important;
}

.btn-disgust{

        background: linear-gradient(rgba(0, 180, 0, 0.8),rgba(0, 255, 0, 0.8)) !important;
    	color: rgba(255, 255, 255, 1) !important;
       
}
 .btn-disgust:hover, .btn-disgust:focus, .btn-disgust.focus, .btn-disgust:active, .btn-disgust.active, .btn-disgust:visited,.btn-disgust:active:hover, .btn-disgust.active:hover{
        background: linear-gradient(rgba(0, 255, 0, 1),rgba(0, 180, 0, 1)) !important;
    	color: rgba(255, 255, 255, 1) !important;
       
}

.btn-fear{
        background: linear-gradient(rgba(133, 50, 180, 0.8),rgba(153, 60, 255, 0.8)) !important;
    	color: rgba(255, 255, 255, 1) !important;
      
}
 .btn-fear:hover, .btn-fear:focus, .btn-fear.focus, .btn-fear:active, .btn-fear.active, .btn-fear:visited,.btn-fear:active:hover, .btn-fear.active:hover{
        background: linear-gradient(rgba(153, 60, 255, 1),rgba(133, 59, 180, 1)) !important;
    	color: rgba(255, 255, 255, 1) !important;
      
}

.btn-happy{
        background: linear-gradient(rgba(180, 130, 50, 0.8),rgba(255, 150, 50, 0.8)) !important;
    	color: rgba(255, 255, 255, 1) !important;
      
}
.btn-happy:hover, .btn-happy:focus, .btn-happy.focus, .btn-happy:active, .btn-happy.active, .btn-happy:visited,.btn-happy:active:hover, .btn-happy.active:hover{
        background: linear-gradient(rgba(255, 150, 50, 1),rgba(180, 130, 50, 1)) !important;
    	color: rgba(255, 255, 255, 1) !important;
      
}

.btn-neutral{
        background: linear-gradient(rgba(122, 122, 122, 0.8),rgba(152, 152, 152, 0.8)) !important;
    	color: rgba(255, 255, 255, 1) !important;
        
}
 .btn-neutral:hover, .btn-neutral:focus, .btn-neutral.focus, .btn-neutral:active, .btn-neutral.active, .btn-neutral:visited,.btn-neutral:active:hover, .btn-neutral.active:hover{
        background: linear-gradient(rgba(152, 152, 152, 1),rgba(122, 122, 122, 1)) !important;
    	color: rgba(255, 255, 255, 1) !important;
        
}

.btn-sad{
        background: linear-gradient(rgba(0, 0, 180, 0.8),rgba(0, 0, 255, 0.8)) !important;
    	color: rgba(255, 255, 255, 1) !important;
        
}
.btn-sad:hover, .btn-sad:focus, .btn-sad.focus, .btn-sad:active, .btn-sad.active, .btn-sad:visited,.btn-sad:active:hover, .btn-sad.active:hover{
        background: linear-gradient(rgba(0, 0, 255, 1),rgba(0, 0, 180, 1)) !important;
    	color: rgba(255, 255, 255, 1) !important;
        
}


#table2, #table3, #table4 { 
	background: none;

}

#console {
    position: absolute;
    float: none;
	-moz-border-radius:8px  !important;
	-webkit-border-radius:8px  !important;
	border-radius:8px  !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
	color:#ffffff !important;
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;

}

#SegTable {
	-moz-border-radius:8px  !important;
	-webkit-border-radius:8px  !important;
	border-radius:8px  !important;
	background-color: rgba(0, 0, 0, 0.8)  !important;
	color:#ffffff !important;
}

#wave {
	background-color: rgba(255, 255, 255, 0.2);
}

#modellist{
	background-color: rgba(0, 0, 0, 0.8)  !important;
}

#filelist{
	background-color: rgba(0, 0, 0, 0.8)  !important;
}

#mail:link {
    color: red !important;
}






